<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- CSS LINK -->
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/tables.css">
  
     <!-- Font awesome -->
     <script src="https://kit.fontawesome.com/6b11d4a153.js" crossorigin="anonymous"></script>
     <!-- Font -->
     <!-- FONT 1 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Grandiflora+One&family=Rethink+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Silkscreen&display=swap" rel="stylesheet">
</head>
<body>


<%- include('dashboardNav.ejs') %>



<!-- Main -->
<div class="main">
<div class="header">
  <div class="title"><h3>Sessions</h3></div>
  <div class="button">
    <p><a href="/createSession">CREATE <span><i class="fa-solid fa-plus"></i></span></a></p>
  </div>
</div>
<div class="content">

<table>
  <thead id="header" >
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Topic Name</th>
      <th scope="col">Date</th>
      <th scope="col">Attendance NO.</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <% let counter = 1; %>
    <% sessions.forEach(session => { %>
      <tr>
        <td data-label="ID"><%= counter %></td>
        <td data-label="Topic Name"><%= session.topicName %></td>
        <td data-label="Date"><%= session.date.toDateString() %></td>
        <td data-label="Attendance NO."><%= session.attendanceNumber ? session.attendanceNumber : '---' %></td>
        <td data-label="Edit"><a href="/editSession/<%= session._id %>"><i class="fa-solid fa-pen-to-square edit-icon"></i></a></td>
        <td data-label="Delete"><a href="/deleteSession/<%= session._id %>"><i class="fa-solid fa-trash-can delete-icon"></i></a></td>
      </tr>
      <% counter++; %>
    <% }); %>
    

  </tbody>
</table>

</div>

</div>

</body>
</html>